h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
div {
    margin: 5em 0 5em 1em
}
body {
    background-color:#D2B48C;
    font-size: 16px; /* base size */
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
hr {
    border: 2px solid black;
}
.contact {
    margin-bottom: 1.5em;
}
ul {
    list-style-type: none;
    padding: 0;
}
@media (max-width: 600px) {
  body {
    font-size: 18px; /* slightly larger on small screens */
    padding: 10px;
  }
}